Model Building

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.metrics import classification_report
from sklearn import metrics
from sklearn import tree
import warnings
warnings.filterwarnings('ignore')

In [2]:
rain_df=pd.read_csv('/content/dataset_rainfall.csv')
rain_df.head()

,SUBDIVISION,YEAR,MONTH,MAX_TEMP,MIN_TEMP,MEAN_TEMP,PRECEPTIONS,PRESSURE,WIND_SPEED,RAINFALL
0,ANDAMAN & NICOBAR ISLANDS,1981,1,10.68,23.80,17.21,20.71,94.20,7.29,11.1
1,ANDAMAN & NICOBAR ISLANDS,1981,2,12.99,27.48,20.21,8.59,94.10,7.15,27.8
2,ANDAMAN & NICOBAR ISLANDS,1981,3,16.50,30.73,23.59,34.10,93.97,7.05,1.7
3,ANDAMAN & NICOBAR ISLANDS,1981,4,21.06,35.07,28.04,35.36,93.78,9.35,94.1
4,ANDAMAN & NICOBAR ISLANDS,1981,5,23.54,36.59,30.04,64.94,93.66,8.31,270.8

In [19]:
rain_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15120 entries, 0 to 15119
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SUBDIVISION  15120 non-null  object
 1   YEAR         15120 non-null  int64
 2   MONTH        15120 non-null  int64
 3   MAX_TEMP     15120 non-null  float64
 4   MIN_TEMP     15120 non-null  float64
 5   MEAN_TEMP    15120 non-null  float64
 6   PRECEPTIONS  15120 non-null  float64
 7   PRESSURE     15120 non-null  float64
 8   WIND_SPEED   15120 non-null  float64
 9   RAINFALL     15120 non-null  float64
dtypes: float64(7), int64(2), object(1)
memory usage: 1.2+ MB

In [21]:
from sklearn.preprocessing import LabelEncoder

lab = LabelEncoder()
rain_df.SUBDIVISION = lab.fit_transform(rain_df.SUBDIVISION)

rain_df.head()

,SUBDIVISION,YEAR,MONTH,MAX_TEMP,MIN_TEMP,MEAN_TEMP,PRECEPTIONS,PRESSURE,WIND_SPEED,RAINFALL
0,0,1981,1,10.68,23.80,17.21,20.71,94.20,7.29,11.1
1,0,1981,2,12.99,27.48,20.21,8.59,94.10,7.15,27.8
2,0,1981,3,16.50,30.73,23.59,34.10,93.97,7.05,1.7
3,0,1981,4,21.06,35.07,28.04,35.36,93.78,9.35,94.1
4,0,1981,5,23.54,36.59,30.04,64.94,93.66,8.31,270.8

In [22]:
rain_df.SUBDIVISION.unique()

array([ 0,  1,  2, 21, 28, 10, 23, 15,  3,  9, 35, 31, 12, 24, 13, 14, 34,
        8, 33,  7, 11, 26, 17, 19, 20, 32,  4,  5, 30, 25, 29,  6, 22, 27,
       16, 18])

In [23]:
feature=rain_df[["SUBDIVISION","MONTH","MAX_TEMP","MIN_TEMP","MEAN_TEMP","PRECEPTIONS","PRESSURE","WIND_SPEED"]]
target=rain_df["RAINFALL"]

Training & Testing

In [24]:
acc=[]
model=[]

In [25]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(feature,target,test_size=0.2,random_state=2)

In [26]:
X_train

,SUBDIVISION,MONTH,MAX_TEMP,MIN_TEMP,MEAN_TEMP,PRECEPTIONS,PRESSURE,WIND_SPEED
14492,16,9,22.57,31.06,26.79,193.59,93.63,8.59
6598,14,11,14.50,28.02,21.23,21.16,94.11,7.28
1554,21,7,23.41,31.20,27.28,290.72,93.61,13.95
8237,7,6,24.45,34.84,29.62,154.33,93.57,12.12
12007,30,8,23.22,30.54,26.85,218.93,93.68,8.98
...,...,...,...,...,...,...,...,...
11798,30,3,17.20,32.48,24.82,12.59,93.94,7.80
13896,27,1,10.50,23.81,17.13,17.29,93.98,7.57
6637,14,2,14.53,29.01,21.75,6.71,94.03,7.86
2575,23,8,22.82,30.28,26.52,241.93,93.62,8.38
7336,8,5,22.84,35.88,29.34,39.16,93.74,10.20

In [27]:
y_train

14492    517.6
6598      21.8
1554     301.5
8237      93.5
12007    266.8
         ...
11798      4.7
13896      2.1
6637     117.9
2575     460.9
7336      14.2
Name: RAINFALL, Length: 12096, dtype: float64

In [28]:
X_test

,SUBDIVISION,MONTH,MAX_TEMP,MIN_TEMP,MEAN_TEMP,PRECEPTIONS,PRESSURE,WIND_SPEED
12224,25,9,21.26,30.17,25.69,157.82,93.77,10.71
559,1,8,22.75,29.95,26.32,254.10,93.67,11.95
10735,32,8,23.26,30.54,26.87,237.03,93.57,13.91
13117,6,2,12.06,26.84,19.43,6.41,94.11,7.82
3670,3,11,15.69,28.71,22.18,31.97,94.08,7.29
...,...,...,...,...,...,...,...,...
946,2,11,14.78,28.20,21.47,15.52,94.21,9.00
12736,29,5,23.20,36.26,29.71,51.26,93.70,10.02
6162,13,7,23.86,31.60,27.70,230.07,93.60,8.76
12651,29,4,21.39,35.53,28.44,27.48,93.67,9.02
1404,21,1,10.88,24.60,17.72,7.86,94.24,8.09

In [29]:
y_test

12224    130.9
559      294.3
10735    286.2
13117      0.0
3670       2.9
         ...
946       16.2
12736     58.3
6162     141.3
12651     43.9
1404      11.1
Name: RAINFALL, Length: 3024, dtype: float64

Build Model-Model Evaluation

Decision Tree

In [30]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import roc_auc_score,classification_report,mean_squared_error,r2_score

In [31]:
# create a regressor object
dtregressor = DecisionTreeRegressor(random_state = 0)

# fit the regressor with X and Y data
dtregressor.fit(X_train, y_train)

DecisionTreeRegressor(random_state=0)

In [32]:
# predicting with regression model with X and Y
y_train_pred=dtregressor.predict(X_train)
y_test_pred=dtregressor.predict(X_test)

In [33]:
#Mean Squared Error and r2 Score
print("MSE",mean_squared_error(y_train,y_train_pred),mean_squared_error(y_test,y_test_pred))
print((r2_score(y_train,y_train_pred),(r2_score(y_test_pred,y_test))))

MSE 7.164917947869181e-37 7408.483804291254
(1.0, 0.7196069044190031)

In [34]:
model.append('Decision Tree')
acc.append(dtregressor.score(X_test,y_test))
print(dtregressor.score(X_test,y_test))

0.7207121752928417

Random Forest

In [35]:
from sklearn.ensemble import RandomForestRegressor

In [36]:
# create a regressor object
forest=RandomForestRegressor()

# fit the regressor with X and Y data
forest.fit(X_train,y_train)

RandomForestRegressor()

In [37]:
# predicting with regression model with X and Y
y_train_pred=forest.predict(X_train)
y_test_pred=forest.predict(X_test)

In [38]:
print("MSE",mean_squared_error(y_train,y_train_pred),mean_squared_error(y_test,y_test_pred))
print((r2_score(y_train,y_train_pred),(r2_score(y_test_pred,y_test))))

MSE 601.6440267475264 4323.741234140449
(0.9795898417476755, 0.8154716738237888)

In [39]:
model.append('Random Forest')
acc.append(forest.score(X_test,y_test))
print(forest.score(X_test,y_test))

0.8370019675037605

XGBoost

In [40]:
from xgboost import XGBRegressor

In [41]:
# create a regressor object
xgb = XGBRegressor()

# fit the regressor with X and Y data
xgb.fit(X_train,y_train)

[05:20:31] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor()

In [42]:
# predicting with regression model with X and Y
y_train_pred=xgb.predict(X_train)
y_test_pred=xgb.predict(X_test)

In [43]:
print("MSE",mean_squared_error(y_train,y_train_pred),mean_squared_error(y_test,y_test_pred))
print((r2_score(y_train,y_train_pred),(r2_score(y_test_pred,y_test))))

MSE 6771.934017080991 6879.805083100889
(0.770269064732319, 0.6064046953302488)

In [44]:
model.append('XGB Boost')
acc.append(xgb.score(X_test,y_test))
print(xgb.score(X_test,y_test))

0.7406425056965733

Save the model

In [ ]:
import pickle
file_name='Model/rainfall_pred.pkl'
pkl=open(file_name,'wb')
pickle.dump(forest,pkl)
pkl.close()